jupyter==1.0.0
nb_black==1.0.7
numpy==1.21.2
pandas==1.3.2
matplotlib==3.4.3
seaborn==0.11.2
altair==4.1.0
bokeh==2.3.3
tqdm==4.62.2
lxml==4.6.3
fake-useragent==0.1.11
beautifulsoup4==4.9.3
selenium==3.141.0
tables==3.6.1
requests==2.26.0
goose3==3.1.9
newspaper3k==0.2.8
fsspec>=0.3.3
wordninja==2.0.0
spacy==3.1.2
nltk==3.6.2
gensim==4.0.1
networkx==2.6.2
scikit-learn==0.24.2
azure-storage-blob==12.8.1
