pytest
pytest-emoji
pytest-html
pytest-md
pytest-parallel
pytest-repeat
python-multipart
pytest-asyncio
fastapi
aiohttp
httpx
uvicorn[standard]
gunicorn
aiofiles
mangum
peewee
bs4
lxml
nltk
requests
pandas
scikit-learn==0.24.0
azure-storage-blob
jinja2
ruamel.yaml
Pillow
Markdown
