pytest
pytest-emoji
pytest-html
pytest-md
pytest-parallel
pytest-repeat
python-multipart
fastapi
uvicorn[standard]
gunicorn
aiofiles
mangum
bs4
lxml
nltk
requests
pandas
scikit-learn
azure-storage-blob
jinja2
ruamel.yaml
